
/*General rules for all the html*/


/* Only imports Barlow Condensed */
/*@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');*/


/* Imports Barlow and Alegreya */
/*@import url(https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Barlow+Condensed:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap);*/

/* With Barlow and Alegreya, imports a title font - testing title fonts*/
/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Barlow+Condensed:ital,wght@0,300;0,600;1,300;1,600&family=Pangolin&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500;700&family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*reset*/
body,
html{
    padding:0;
    margin:0;
}

body{
    font-size: 18px;
    font-family: "Alegreya Sans", sans-serif;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.3rem;
}

h3{
    font-size: 1.2rem;
}

h4{
    font-size: 1.1rem
}

h5{
    font-size: 1.05rem;
}

h6{
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 500;
    font-family: "Alegreya SC", serif;
    color: #333;
}

.side-notes{
    /* font-family: "Barlow Condensed", sans-serif; */
    font-weight: 300;
}

strong{
    font-weight: 700;
}

em{
    font-style: italic;
}

button{
    border: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: #333;
    font-family: "Alegreya SC", sans-serif;
}

.button1{
    border: 2px solid #e4e4e4;
    background-color: #e4e4e4;
}

button:hover{
    background-color: #b7adcf;
    /* border: 1px solid #333; */
    font-weight: 700;
    color: #333;
}

.button2{
    background-color: #fff;
    color: #6f686d;
    border: 2px solid #6f686d;
}

.subscribe{
    background-color: #fff;
    color: #b7adcf;
    border: 2px solid #b7adcf;
}